<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Uploads/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Дополнительные параметры">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home Page", "Index", "Upload")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - my ASP.NET Application</p>
        </footer>
    </div>




    <script src="~/Uploads/Theme/vendor/datatables/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Uploads/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Uploads/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Uploads/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Uploads/Theme/vendor/datatables/datatables-demo.js"></script>
    @RenderSection("scripts", required: false)
    <script language="JavaScript" type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#choose-file').change(function () {
                var i = $(this).prev('label').clone();
                var file = $('#choose-file')[0].files[0].name;
                $(this).prev('label').text(file);
            });
        });
    </script>
</body>
</html>
